@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh; 
    justify-content: space-around;
    align-content: stretch; 
}

.box {
    color: #ebe0e1;
    font-size: 75px;
    width: calc(100% / 3); /* Divide the width by 3 for 3 columns */
    height: 50%; /*  half the height for 2 rows */
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #01ff00; 
    background-color: #201A1B;
}

.box img {
    width: 75%;

}

.box p {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    width: 100%; 
}

#box1 p {
    transition: font-size 1.5s; 
    font-size: 75px; 
    color: rgb(205, 11, 11);
    background-color: #01ff00;
}

#box1 p:hover {
    font-size: 25px; 
}

#box2 p {
    transition: font-size 1.5s; 
    font-size: 75px; 
    color: rgb(205, 11, 11);
    background-color: #01ff00;
}

#box2 p:hover {
    font-size: 125px; 
}

#box3 p{
    color: rgb(205, 11, 11);
    background-color: #01ff00;
}


#box3 p:hover {
    color: #201A1B;
    background-color: #201A1B;
}

#box4 p:hover {
    color: rgb(205, 11, 11);
    font-style: italic;
}

#box5 p {
    transition: font-size 1.5s; 
    font-size: 75px; 
}

#box5 p:hover {
    font-size: 100px; 
    color: #01ff00;
}

#question {
    color: #FFB1C8; 
    font-size: 150px; 
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif; 
    display: inline-block; 
}

#accomplish {
    padding: 0 1px; 
    display: inline-block; 
    font-size: 55px; 
    box-sizing: border-box; 
}

.permanent-style {
    color: rgb(205, 11, 11);
    font-style: italic;
}

.clicked-style {
    font-size: 175px; 
    color: #01ff00;
}

.box {
    position: relative; 
}

.box p, .box a {
    position: relative; 
    z-index: 2; 
}

#pic6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1; 
    object-fit: cover; 
}